/* GLOBAL */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color:white;;
  display: block;
  text-decoration: none;
}

.container {
  display: block;
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  padding: 0;
  overflow: hidden;
}

p{
  text-align: center;
  line-height: 1.7em;
  letter-spacing: .04ch;
  font-family: 'Clarkson',Helvetica,sans-serif;
  font-size: 1em;
}

/*for the different sections*/
.main_sections_wrapper {
  display: block;
  min-height: 400px;
  width: 100%;
  overflow: hidden;
}

/*cotent wrapper after titles*/
.main_sections_content_wrapper {
  display: block;
  overflow: hidden;
  margin: 25px 0;
  padding: 5px 0;
}

.main_sections_content_wrapper p {
  display: block;
  margin: 20px 10px;
  padding: 15px;
  display: block;
  height: auto;
  border: none;
  outline: none;
  margin: auto;
  font-size: 1em;
}

/* Scroll progress bar */
#scroll_progress_outer_bar{
  width:100%;
  height:3px;
  background-color: white;
  z-index: 2;
  position: fixed;

}

#scroll_progress_inner_bar{
  width:0;
  height:3px;
  background-color:black;
  z-index: 2;
  position: fixed;
}

/* Header and nav bar*/
#header {
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: transparent;
  margin: 0;
  padding: 0;
  opacity: 0.98;
}

#branding {
  float: left;
  text-decoration: none;
  color: white;
}

#branding h3 {
  border: 2px solid black;
  padding-left:4px;
  padding-right: 4px;
  margin: 10px 10px 10px 0;
  font-size: 1.15em;
  text-align: center;
  min-width: 120px;
  box-shadow: 2px 3px 4px rgba(.5, .5, .5, .5);
  text-decoration: none;
  color: white;
}

#menu_mobile {
  display: none;
}

.menu {
  float: right;
  list-style-type: none;
  margin: 10px 0 10px 0;
  padding: 0;
}

.menu li {
  display: inline;
  padding: 0 14px;
}

.menu a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.09em;
}

li a:hover {
  background-color: #CFD1D0;
}

#hamburger_menu {
  display: none;
  font-size: 22px;
  float: right;
  margin: 14px 10px 10px 0;
  color: white;
  cursor: pointer;
}

#hamburger_menu:hover {
  font-size: 21px;
  cursor: pointer;
}

.anchor {
  display: block;
  height: 48px;
 /*same height as header*/
  margin-top: -48px;
 /*same height as header*/
  visibility: hidden;
}

#showcase_above{
  margin-top: 0;
  height: 0;
}

.social_logos a {
  color:transparent; 
}

.social_logos i {
  margin: 10px;
}

#linkedin_logo{
	margin-left:0;
}

/*showcase sectio/*showcase sectionn*/
#showcase_1{
  min-height: 600px;
  visibility: visible;
  background: url("../assets/pictures/bg_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

#showcase_2{
  min-height: 0;
  height: 0;
  visibility:hidden;
  background: url("../assets/pictures/bg_8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.showcase h3 {
  width: 80%;
  font-size: 55px;
  margin: 40px 10% 20px 10%;
  padding: 0;
  border: none;
  z-index: 0;
}

.showcase p {
  float: right;
  text-align: center;
  font-size: 25px;
  z-index: 0;
}n*/
#showcase_1{
  min-height: 600px;
  visibility: visible;
  background: url("../assets/pictures/bg_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

#showcase_2{
  min-height: 0;
  height: 0;
  visibility:hidden;
  background: url("../assets/pictures/bg_8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.showcase h3 {
  width: 80%;
  font-size: 55px;
  margin: 40px 10% 20px 10%;
  padding: 0;
  border: none;
  z-index: 0;
}

.showcase p {
  float: right;
  text-align: center;
  font-size: 25px;
  z-index: 0;
}


/* Background for contact,project and education_skils sections*/
#about_me,#skills,#education, #projects{
  background: white;
}

.picture{
  max-width: 300px;
  padding:15px;
  border-radius: 250px;
  }

#contact{
  background:#E0E0E0;
}

/*multiple section properties*/

/*all section titles*/
.main_section_title {
  padding: 20px;
  text-align: center;
  width: 20%;
  outline: none;
  font-size: 40px;
  color: #ffffff;  
  background-color: #9A9EA1;
  overflow:hidden;
  margin-top:30px;
  margin-bottom:30px;
}

/*left titles*/
#about_me h2, #skills h2, #contact h2{
   border-radius:0 60px 60px 0;
   float:left;
   margin-left:-10px;
}

/*right titles*/
#education h2, #projects h2{
   border-radius: 60px 0 0 60px;
  float:right;
}

.education_card,.skills_card,.projects{
  background:white;
  overflow:hidden;
}

.about_me_card{
  background: white;
}

#about_me_pic_wrap{
    display: inline-block;
    margin-left:5%;
    width: 33%;
    max-width:300px;
}

/*About me picture*/
#about_me_pic{
  width:100%;
  border-radius: 250px;
  padding: 0;
}

#about_me_text{
  text-align: left;
  color:#767676;
  float:left;
  width:55%;
  max-width: 800px;
  margin:1%;
  padding-top: 40px;
}

.education_card{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:0;
	margin-left:0;
	min-height:100px;
}

#education_pic_wrap{
	padding: 0;
	margin-top:30px;
	margin-left:9%;
    margin-right:9%;
    max-width:250px;
    width:35%;
	float:left;	
}

#education_pic{
   width:80%;
}

#education_text{
  display: inline-block;
	margin:25px;
	margin-left:30px;
	padding:0;
  max-width:600px;
  width:48%;
	margin-right:0;
}
.education_info {	
  max-width:600px;
  margin: 0;
  color:#767676;
  text-align: left;
  line-height:1.55;
}

#education_info_1 {	
  margin-bottom:.5em;
  padding-bottom: 0;
}

#education_info_2 {	
  padding-top: 0;
  margin-top:0;
}

#education_list{
    max-width:600px;
    list-style-type: none;
    padding:5px;
    color:#767676;
    margin:5px;
}

#education_list li{
 list-style-type: none;
  padding:5px;
  color:#767676;
  margin:5px;
  font-size:1.3em;
}

.skill_card{
    width:100%;
    margin:20px;
    min-height:410px;
    padding:1%;
}

.skills_card_title_wrap{
    width:25%;
    margin-top: 150px;
    margin-bottom: 10px;
}

#skills_web_title_wrap{
    float:left;
    margin-right:10%;
}

.skills_card_title{
    font-size: 1.3em;
    color:#767676;
}

#web_skills_wrap{   
    display: inline-block;
}

#skills_languages_title_wrap{
    display: inline-block;
}

#languages_skills_wrap{    
    float:left;
    margin-right:10%;
}

.specific_skill_wrap{
    width:60%;
    min-height: 250px;
    margin:2%;
    margin-bottom:50px;
}

.specific_skill{
    display:inline-block;
    width:30%;
    max-width:600px;
    margin-top:30px;
    margin-bottom: 30px; 
}

#html_skill,#css_skill,
#php_skill,#sql_skill,
#python_skill,#c_skill,
#github_skill,#unity_skill{
    margin-right:2%;
}

.specific_skill_pic_wrap{
    width:20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.specific_skill_pic{
    width:100%;
}

#php_skill_pic{
    width:180%;
    margin-left:-40%;
    padding:0;
}

.specific_skill_title p{
    padding:10px;
    color:#767676;
}

.specific_skill_level_wrap{
    box-shadow:0 0 10px rgba(0,0,0,.05);
    max-width:480px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D3D3D3;
    height:10px;
    border-radius: 30px
}

.specific_skill_level{
    box-shadow:0 0 10px rgba(0,0,0,.05);
    max-width:480px;
    background-color: green;
    height:10px;
    border-radius: 30px
}

#html_skill_level{
  width:80%; 
}

#css_skill_level{
  width:70%;
}

#js_skill_level{
  width:60%;
}

#php_skill_level{
  width:50%;
}

#sql_skill_level{
  width:40%;
}

#xd_skill_level{
  width:30%;
}

#github_skill_level{
width:70%;
}

#c_skill_level{
width:70%;
}

#c_sharp_skill_level{
width:60%;
}

#unity_skill_level{
width:60%;
}

#python_skill_level{
  width:50%;
}

#java_skill_level{
  width:40%;
}

/* projects section*/
.projects{
	padding:1%;
	margin-bottom:100px;
    min-height:200px;
    width:100%;	
}

.project_pic_wrap{
    display: inline-block;
    width: 40%;
    max-width:450px;
    max-height:250px;
}
.project_pic{
    width:100%;
    padding: 0;
}

/*left project pictures*/ 
#project_one_pic_wrap, #project_three_pic_wrap{
    float:left;
    margin-right:10%;
}

.project_text{
    display:inline-block;
    width:43%;
    min-width:400px;
}

#project_two_text, #project_four_text{
    float:left;
    margin-right:10%;
}
	
.project_title{
  font-weight: bold;
}

#project_three{
	margin-right:0;
}

.projects p{
	margin:10px;
	padding:0;
}

#contact_info {
  width: 39%;
  float: right;
  min-height: 150px;
  padding: 0;
}

#email_info {
  margin-top: 10px;
}

#email_info, #phone_info, #contact_social_logos {
  float: left;
  width: 100%;
  min-height: 50px;
  color:#181818;
}

#email_logo, #phone_logo {
  margin-left: 10;
  float: left;
}

#contact_social_logos i{
  color:#181818;
}

#email_text, #phone_text {
  line-height: 0px;
  float: left;
  font-size: 15px;
}

#contact_forms_message_wrapper {
  display: block;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 0;
  width: 60%;
  min-height: 200px;
  float: left;
}

#contact_forms_wrapper,
#contact_message_wrapper {
  overflow: hidden;
  display: block;
  min-height: 200px;
  width: 100%;
  min-width: 240px;
  padding: 0;
}

.form {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-height: 45px;
  width: 98%;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #727272;
  font-size: 13px;
  border-radius: 1px;
  border-bottom: solid 1px #303030;
}

#name, #mail, #subject {
  margin-bottom: 20px;
}

.form:hover {
	border: 1px solid #0811ff ;
}

.form:focus {
  outline: none;
  border: 1px solid #0811ff;
  -webkit-box-shadow: 0px 0px 3px #0811ff;
  box-shadow: 0px 0px 3px  #0811ff;
}

.form:active {
  outline: none;
  border: 1px solid #0811ff;
  -webkit-box-shadow: 0px 0px 3px #0811ff;
  box-shadow: 0px 0px 3px #0811ff ;
}

textarea {
  display: block;
  height: 200px;
  width: 96%;
  resize: none;
  border-radius: 1px;
  border-bottom: solid 1px #0811ff;
}

#recaptcha_and_send {
  margin-left: 5px;
  margin-bottom: 5px;
  display: block;
  width: 100%;
  min-height: 100px;
  margin: 0;
  overflow: hidden;
}

#recaptcha_Container {
  overflow: hidden;
  min-height: 74px;
  min-width: 300px;
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
}

.form-btn {
  width: 150px;
  display: block;
  height: 40px;
  color: white;
  background: #6e6f6f;
  border: none;
  border-radius: 3px;
  margin: 20px 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 13px;
}

.form-btn:hover {
  background: #373737;
  color: white;
  border: none;
  cursor: pointer;
}

.form-btn:active {
  opacity: 0.9;
}

#submitMessage {
  margin: 0 auto;
  display: none;
  clear: right;
  width: 100%;
}

footer {
  background: #1b1b1b;
  text-align: center;
  min-height: 160px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: white;
  width: 100%;
}

#footer_social_logos i{
  color: white;
}

/* Media Rules*/
@media only screen and (max-width:1000px) {
  
  #menu_desktop {
    display: none;
  }

  #hamburger_menu {
    display: block;
  }

  #menu_mobile {
    text-align: center;
    width: 100%;
    max-height: 330px;
    display: none;
    margin: 0;
    padding: 0;
  }

  #menu_mobile a {
      display: block;
      border-bottom: 1px solid #EAEAEB;
      margin: 0 0 -20px 0;
      padding: 10px 0 10px 0;
  }
  
  
  /*all section titles*/
  .main_section_title {
      width: 50%;
  }


  #about_me_pic_wrap{ 
      width: 75%;
      max-width:300px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding:0;
  }

  #about_me_pic{
      padding:0;
  }

  #about_me_text {
      display: block;
      width:95%;
      padding:0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .education_card{
      max-width: 350px;
      width:58%;
      display:block;
      margin-left: auto;
      margin-right: auto;
  }

  #education_pic_wrap{ 
      float:none;
      width: 75%;
      max-width:250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  #education_text{
      display:block;
      width:100%;
      padding:0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .skill_card{
    margin:0;
    padding:0;
  }
  
  .skills_card_title_wrap{
      width:100%;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .skills_card_title{
      text-align: center;
  }

  .specific_skill_wrap{
      width:100%;
      min-height: 250px;
      margin:2%;
      margin-bottom:50px;
  }
  
  .specific_skill{
      margin-right:10%;
      width:40%;
      margin-top:0;
      margin-bottom:70px;
  }

  #html_skill,#sql_skill,
  #github_skill,#python_skill{
      margin-right:10%;
  }

  #css_skill,#php_skill,
  #xd_skill,#c_skill,
  #unity_skill,#java_skill{
      margin-right:0;
  }

  .projects{
      width:100%;
      margin: 0;
      margin-bottom: 50px;
      max-height:700px;
  }

  .project_pic_wrap{
      float:none;
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  #project_one_pic_wrap, #project_three_pic_wrap{
      float:none;
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .project_pic{
      padding:0;
      float:none;
      display: block;
      max-width:450px;
      width:100%;
      margin-left: auto;
      margin-right: auto;
  }

  #project_two_text, #project_four_text{
      float:none;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .project_text{
      width:62%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  #education,
	#skills,
	#contact_forms_wrapper,
	#contact_message_wrapper,
	.g-recaptcha {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
  }

  #contact_forms_message_wrapper {
    width: 100%;
    float: left;
  }

  #contact_info {
    width: 100%;
    float: left;
  }

  #contact_message_wrapper {
    margin-top: 30px;
  }
}

/* Media Rules*/
@media only screen and (max-width:520px) {

  .education_info {	
    text-align: center;
  }

  .projects{
   width:100%;
  }

  .project_text{
    width:80%;
  }

  #about_me_text, #education_text, .project_text, #email_text, #phone_text{
    min-width:0px;
  }
  .specific_skill{
    width:100%;
    margin:0;
    margin-bottom: 50px;
  }

  #html_skill,#css_skill,
  #php_skill,#sql_skill,
  #python_skill,#c_skill,
  #github_skill,#unity_skill{
      margin-right:0;
  }

  .specific_skill_level_wrap {
      width: 50%;
  }

}
